__pycache__

*.*~

*.pyc

venv

env

.venv

.env

.vscode

.idea

template/*

*.sqlite3

*.sqlite

.config

*.sql

templates/admin/*

static/*
/core/migrations/0001_initial.py
/administrativo/migrations/0001_initial.py
/demanda/migrations/0001_initial.py
