<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Obrigações GAP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" , shrink-to-fit="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {% bootstrap_css %}

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Obrigações GPB</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <h1>{{ title|capfirst }}</h1>
            {% block content %} {% endblock %}
            </br>
        </div>

    </div>


</div>
{% bootstrap_javascript %}
<script>
    $(document).ready( function() {

    $("#about-btn").click( function(event) {
        alert("You clicked the button using JQuery!");
    });
});

</script>


</body>
</html>